// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

$primary: #9d1f64ff;
$secondary: rgb(238, 235, 235);
$warning: #ff8e4eff;
$grey: #929598;
$color-text-default: #43474B;