// Fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    color: #43474B;
}

.btn-search {
    color: $text-muted;
}

.btn-search:hover, .btn-search:focus, .btn-search:active {
    color: $color-text-default;
}

.nav-tabs .nav-item .nav-link-category {
    font-weight: bold;
    background-color: $secondary;
    color: $grey;
}

.nav-tabs .nav-item .nav-link-category.active {
    background-color: $primary;
    color: $white;
}

.bg-footer {
    background-color: $color-footer-default;
}

.btn-link {
    color: $text-muted;
    text-decoration: none;
}

.btn-link:hover {
    color: $grey;
}

.btn-link:focus, .btn-link:active {
    color: $color-text-default;
}

.text-gray {
    color: $text-muted;
}